/* ----------------------------------------------------Sección de nosotros */
.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 4rem 1rem;

    width: 80%;
    margin: 0 auto;
}

.nosotros h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}


.nosotros-subcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-bottom: 4rem;

}

.nosotros-texto {
    border-radius: 15px;
    width: 60%;
    min-height: 20rem;
    box-sizing: border-box;
    padding: 1rem 3rem;
}
.nosotros-texto h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: #e0781d;
}
.nosotros-texto h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.nosotros-texto p {
    margin: 0;
    font-size: 1.1rem;
    text-align: justify;
}

.nosotros-video {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}