/* ------------------------------------------------------- Sección de Contacto */
.contacto {
    background-color: #ecf0f1;
    text-align: center;
    height: 82vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
    box-sizing: border-box;
}

.contacto h2 {
    font-size: 2rem;
    margin: 0;
}

.contacto-texto {
    width: 48%;
    height: 90%;
    background-color: white;
    color: white;
    padding: 5rem;
    box-sizing: border-box;
    text-align: left;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../../images/massage2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contacto-texto h3 {
    font-size: 2.3rem;
}

.contacto-redes{
    width: 80%;
    font-size: 2.5rem;
    margin: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contacto-form {
    width: 48%;
    height: 90%;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #262a2c;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #dd9434;
}